<ion-header>

  <ion-navbar>
    <ion-title>Observaciones</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

    <form *ngIf="form" [formGroup]="form" (submit)="saveObs()">
    
        <ion-list>
            <ion-item>
                <ion-label floating>Observación</ion-label>
                <ion-textarea formControlName="descripcion"></ion-textarea>
            </ion-item>
        </ion-list>
        
        <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
        <div class="profile-image-wrapper" (click)="getPicture()">
            <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
                <ion-icon name="add"></ion-icon>
                <div>
                {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
                </div>
            </div>
            <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
        </div>

        <ion-card>
            <ion-card-content>
                <img src="assets/img/img-icon.png" />
            </ion-card-content>

            <ion-item>
                <button ion-button clear item-end (click)="getPicture()">Tomar foto</button>
            </ion-item>
        </ion-card>

        <div padding>
            <button ion-button color="primary" block>Guardar</button>
        </div>

    </form>

</ion-content>